<br />


<div class="hero-unit" align="center">
  <h1>Select action:</h1>

    <a href="/PreferredMethod/Index/" class="btn btn-large btn-primary">Preferred Methods</a><br /><br />
    <a href="/AllObservations/Index/" class="btn btn-large btn-primary">Completed Frequency Observations</a><br /><br />
    <a href="/CompleteObservation/Index/" class="btn btn-large btn-primary">Complete an Observation</a><br /><br />
    <a href="/MachineTiming/Index/" class="btn btn-large btn-primary">Machine Timing Data Sheets</a><br />
    <br />

</div>
