@model IEnumerable<CapstonePG_Project.Models.MachineTiming>

@{
    ViewBag.Title = "Machine Timing";
}

<div class="hero-unit" align="center">
<h2>Machine Timing</h2>

<br />


<div class="hero-unit" align="center">
  <h1>Select Machine</h1>

    <a href="/MachineTiming/Create/" class="btn btn-large btn-primary">Fork Lift</a><br /><br />
    <a href="/MachineTiming/Create/" class="btn btn-large btn-primary">Pallet Jack</a><br /><br />
    <a href="/MachineTiming/Create/" class="btn btn-large btn-primary">Man-Up</a>
    <br />

</div>

    </div>